In [5]:
import pandas as pd

import checker
from ticket.codegen import generate_ticket_code

In [3]:
df = pd.read_csv("C:/Users/fuisl/checkin/tests/example_list.csv")
df.head()

,id,name,major,email,quantity,class,money_transfered
0,10422021,Trần Hải Dương,CSE2022,10422021@student.vgu.edu.vn,2,VIP,1
1,10422022,Nguyễn Thị Minh Châu,ECE2023,10422022@student.vgu.edu.vn,3,STANDARD,1
2,10422023,Lê Văn Hùng,MEN2022,10422023@student.vgu.edu.vn,4,STANDARD,1
3,10422024,Trần Thu Hương,BFA2021,10422024@student.vgu.edu.vn,1,VIP,1
4,10422025,Phạm Hoàng Nam,ARC2020,10422025@student.vgu.edu.vn,2,STANDARD,1

In [8]:
# Generate codes and assign code to data
codes = generate_ticket_code(df['quantity'].sum(), seed='prom-test')

# Slicing codes for individuals
index = df['quantity'].cumsum()

code_list = list()
start = 0  # Initializing start index

for stop in index:
    code_cut = codes[start:stop]  # List slicing and append to new list.
    start = stop  # Update new start
    code_list.append(code_cut)

df['codes'] = code_list

273 code(s) created successfully!

In [9]:
df.head()

,id,name,major,email,quantity,class,money_transfered,codes
0,10422021,Trần Hải Dương,CSE2022,10422021@student.vgu.edu.vn,2,VIP,1,"[PWMFRY, A8YQJD]"
1,10422022,Nguyễn Thị Minh Châu,ECE2023,10422022@student.vgu.edu.vn,3,STANDARD,1,"[GU2AZR, YKFFRB, 3Q2AAY]"
2,10422023,Lê Văn Hùng,MEN2022,10422023@student.vgu.edu.vn,4,STANDARD,1,"[JMIUSM, FMSVEL, 0LBI0G, 1K70IU]"
3,10422024,Trần Thu Hương,BFA2021,10422024@student.vgu.edu.vn,1,VIP,1,[2DGPSM]
4,10422025,Phạm Hoàng Nam,ARC2020,10422025@student.vgu.edu.vn,2,STANDARD,1,"[YNOY8Z, GI0HL3]"

In [12]:
df_exploded = df[['id', 'codes']].explode('codes', ignore_index=1)
df_exploded.head()

         id   codes
0  10422021  PWMFRY
1  10422021  A8YQJD
2  10422022  GU2AZR
3  10422022  YKFFRB
4  10422022  3Q2AAY

In [5]:
path = "C:/Users/fuisl/checkin/tests/"
checker.Gen(df, 'prom-test').encode(custom_path=path)

273 code(s) created successfully!
273 QRCodes created successfully!