# Ticket generation

In [2]:
from gen import Gen

ticket_info = {
    'svip': 14,
    'vip': 32,
    'norm_center': 66,
    'norm_rear': 98
}

codes = Gen('checkin_presto').gen(230)
spare_codes = codes[-20:]
main_codes = codes[:-20]

230 code(s) created successfully!

In [10]:
from database import GenerateTicketInfo

tickets = GenerateTicketInfo(ticket_info=ticket_info, codes=main_codes)
database_formatted_tickets = tickets.generate_tickets()
database_formatted_tickets_spare = []

for code in spare_codes:
    ticket = {
        "_id": code,
        "class": "",
        "seat": "",
        "is_bought": False
    }

    database_formatted_tickets_spare.append(ticket)

In [20]:
import pandas as pd

df = pd.DataFrame(database_formatted_tickets + database_formatted_tickets_spare)
df.to_csv('official_ticket_info_phase_1.csv')

# Add data from csv

In [29]:
import pandas as pd

df = pd.read_csv("mail/official_ticket_info_phase_1.csv", index_col=0)
svip_seats = [f"T{i}" for i in range(1,15)]
df.loc[df.loc[df['class'] == "SVIP"].index, 'seat'] = svip_seats
df

        _id class seat  is_bought
0    BNA0TX  SVIP   T1      False
1    2LYJXI  SVIP   T2      False
2    CH8IBU  SVIP   T3      False
3    5Z0VV4  SVIP   T4      False
4    4K0HI9  SVIP   T5      False
..      ...   ...  ...        ...
225  5O43WC   NaN  NaN      False
226  Y63RZK   NaN  NaN      False
227  BASR3V   NaN  NaN      False
228  T7YOTO   NaN  NaN      False
229  1BAOYQ   NaN  NaN      False

[230 rows x 4 columns]

In [30]:
from database import Database
tickets_list = df.to_dict('records')

db = Database(tickets_list)
db.create_database()

Creating database with 230 tickets in 'tickets' collection.