In [17]:
from detect import *

import pandas as pd
import numpy as np

import gspread
from oauth2client.service_account import ServiceAccountCredentials

In [18]:
credentials = ServiceAccountCredentials.from_json_keyfile_name("check-in-1111-48183fdcf068.json", ['https://www.googleapis.com/auth/spreadsheets'])

client = gspread.authorize(credentials)

spreadsheet = client.open_by_url("https://docs.google.com/spreadsheets/d/1VBsE0rPQ91MBy04KlrfJl3bkPVlgkqV3wtxOFkikCaI/edit#gid=1778963550")

In [19]:
ws = spreadsheet.worksheet('sheet2')

In [20]:
# Fetch data from sheet

list_of_dict = ws.get_all_records()

df = pd.DataFrame(list_of_dict)
df.head()

         id                  name   codes
0  10422021        Trần Hải Dương  4RR2YT
1  10422021        Trần Hải Dương  A8YQJD
2  10422022  Nguyễn Thị Minh Châu  GU2AZR
3  10422022  Nguyễn Thị Minh Châu  YKFFRB
4  10422022  Nguyễn Thị Minh Châu  3Q2AAY

In [21]:
try:
    spreadsheet.add_worksheet(title="sheet2", rows=1000, cols=20)
except:
    print("Creating new sheet unsuccessful. Sheet might be existed")

Creating new sheet unsuccessful. Sheet might be existed

In [22]:
# Import _code_exploded.csv

df = pd.read_csv("./test/code_exploded.csv", index_col=0)
df.head()

         id                  name   codes
0  10422021        Trần Hải Dương  4RR2YT
1  10422021        Trần Hải Dương  A8YQJD
2  10422022  Nguyễn Thị Minh Châu  GU2AZR
3  10422022  Nguyễn Thị Minh Châu  YKFFRB
4  10422022  Nguyễn Thị Minh Châu  3Q2AAY

In [47]:
code = 'A8YQJD'

df['codes']

0      4RR2YT
1      A8YQJD
2      GU2AZR
3      YKFFRB
4      3Q2AAY
        ...
268    S7G2E2
269    MKTG02
270    87Q34B
271    Z9GO9O
272    UU34Z1
Name: codes, Length: 273, dtype: object

In [24]:
# Convert to list of lists to import
my_list = list()
columns = list(df.columns)

my_list = df.values.tolist()

my_list.insert(0, columns)
# my_list = df.values.tolist()

In [ ]:
ws.update('A1',my_list)

In [51]:
df[df['codes'] == code].index.values[0]

1

In [52]:
if code in df['codes'].values:
    cell = 'D'+ str(df[df['codes'] == code].index.values[0] + 2)
    val = 'Checked in'
    ws.update(cell, val)

C:\Users\fuisl\AppData\Roaming\Python\Python311\site-packages\gspread\worksheet.py:1046: UserWarning: [Deprecated][in version 6.0.0]: method signature will change to: 'Worksheet.update(value = [[]], range_name=)' arguments 'range_name' and 'values' will swap, values will be mandatory of type: 'list(list(...))'
  warnings.warn(