In [2]:
import pandas as pd
import numpy as np

# Import generator
from ticket.codegen import generate_ticket_code
from ticket import qrgen, bargen

In [3]:
# Customizable variable

path_to_csv = "./test/example_list.csv"
event_seed = "prom-test"

In [4]:
df = pd.read_csv(path_to_csv)
df.head()

,id,name,major,email,quantity,class,money_transfered
0,10422021,Trần Hải Dương,CSE2022,10422021@student.vgu.edu.vn,2,VIP,1
1,10422022,Nguyễn Thị Minh Châu,ECE2023,10422022@student.vgu.edu.vn,3,STANDARD,1
2,10422023,Lê Văn Hùng,MEN2022,10422023@student.vgu.edu.vn,4,STANDARD,1
3,10422024,Trần Thu Hương,BFA2021,10422024@student.vgu.edu.vn,1,VIP,1
4,10422025,Phạm Hoàng Nam,ARC2020,10422025@student.vgu.edu.vn,2,STANDARD,1

In [5]:
codes = generate_ticket_code(df['quantity'].sum(), seed=event_seed)

print()
for i in range(5): print(codes[i])

273 code(s) created successfully!

PWMFRY
A8YQJD
GU2AZR
YKFFRB
3Q2AAY

In [6]:
# Slicing unique codes for each individuals

index = df['quantity'].cumsum()

code_list = list()
start = 0  # Initializing start index

for stop in index:
    code_cut = codes[start:stop]  # List slicing and append to new list.
    start = stop  # Update new start
    code_list.append(code_cut)
    
print(code_list)

[['PWMFRY', 'A8YQJD'], ['GU2AZR', 'YKFFRB', '3Q2AAY'], ['JMIUSM', 'FMSVEL', '0LBI0G', '1K70IU'], ['2DGPSM'], ['YNOY8Z', 'GI0HL3'], ['8KUAMC', 'O6XTYT', '6YMH6J', 'OPHCAR', 'MASIL2'], ['STD1EB', 'RO1RNZ', 'D146W8'], ['8C0W3W', 'X50FLE', '2I4GUZ', 'C2PHN1'], ['GBDX1Q', 'H5XD7C'], ['3UYKCS'], ['TFEZSP', 'A314LG', 'F2HOS3', 'KMQUAT', 'QUTU1X'], ['IAMDPY', '37OTMZ', '2KLHVZ'], ['1ACRIQ', '3S9MM3', 'IKX3BS', 'XZTDGI'], ['AMSUNT', 'AUV3XD'], ['60IFJP'], ['UQI90V', 'IJKH7A', 'Q2QG23', '1WYUOD', 'VB6N5P'], ['71P0S4', '0D36DF', 'V6BQDI', 'YDGU5A'], ['R78N2F', 'U58BNV', 'ILKR7F'], ['SQ6ZOT', '8DQZLC'], ['L4GIBG'], ['W7K21T', 'JI5VJ4', '28393H', 'X0GMZ0', 'A3HZCF'], ['S5T65Z', 'K1PLIS', 'AGIG75', 'XQ6I4A'], ['CZ1RII', 'U3UN5Z', 'ZHFOOL'], ['EFB1DT', 'TXLEHE'], ['DKPZ0H', 'MS9HQM', '7AMJP5', 'LK2XTP'], ['G9SCMY'], ['7YOR74', '9KSE7H', 'Q5RJ2X'], ['4HKYYG', 'UGLVUJ'], ['UPLVHW', 'YJGRGN', 'NIUT0J', 'JIP02L', 'G96E41'], ['5EUQ0V', '0A5YB6', 'WMO7WS', 'FRIGUS'], ['96L2S9', 'FG56I4'], ['RKP5WO'], ['WBBMAF', '8SK9I5', '2F8AKP', 'DY4F50', '00RF6H'], ['H1E6RN', 'Q05075', 'ALA6UZ'], ['HAYDEH', 'TOKD1Z', 'A7EIS3', 'ZZ6SRP'], ['0XFDZ0', 'RDZMJC'], ['OWXWBW'], ['UODCEF', 'VNY0AN', 'JSYYZD', 'RVI131', 'B7KY77'], ['YAXWAN', 'MEENJC', 'Q7Y8HY', 'TIN2EO'], ['1535TS', 'CNKLN6', '3R5MHQ'], ['FNUUDW', 'MSD5Y6'], ['QC2MWO'], ['TNBZRE', 'WFMNJ5', 'C8813U', 'CW03FA', '4WORJU'], ['0J9XZT', 'KLJBBW', 'ZFL0A4', '9L2KSL'], ['8SLPT9', 'XUFGCD', 'LTGZKZ'], ['4JMM90', 'VYGBOE'], ['9KJW22', 'RAYJLJ'], ['6I78YY', 'VNZCGI', 'PG84BJ', '2DUVB6'], ['VZVJ4F'], ['L7IJG0', '9J2MDU', 'IAT6RK'], ['NXN61T', '3BFTO9'], ['LV9U39', 'IHI7MR', 'MQPCAD', 'ZKQD0O', '8GCQXX'], ['7MNR47', '7AMC11', 'S24M5J', 'ZI2G56'], ['Y32FRX', 'EWYYO6'], ['UKLJTM'], ['CZTI30', 'DXB1LV', '8GGT5Q', 'SSV913', 'X8BK1G'], ['8WSR0T', '75NXI3', 'GIGH18'], ['ZB61KV', '7DUTTK', 'O1U39C', '182JRO'], ['QFTZTD', 'QBTJAV'], ['JO822C'], ['E4EMGQ', 'UHPGPR', 'H9PB5H', 'F7TDRP', '8FW0G5'], ['UFCH24', 'IKD240', 'C9F2NQ', 'C3OILV'], ['Y3TBDJ', 'TGKE8F', '9MTJ2G'], ['K1NKQ0', '8CAC2Z'], ['Z8AE3F'], ['1PCNFD', '8SDWG0', 'GQQU3P', '5XGLZU', '8GTZMU'], ['JY7JT3', 'YW4JJG', 'SWOFKZ', 'RS9MDT'], ['PKZAGM', 'G5NV57', 'ORFM23'], ['9X9MKX', '8ZM6F6'], ['52S2RE', 'UHELLJ'], ['7FY8S3', 'WNBBY0', 'TVSIG0', 'DEXNA4'], ['971T9U'], ['Z2Z949', '1KPSVV', '4SLRIO'], ['P5DI8N', 'ILJRPZ'], ['LIK4LG', 'OEG0ND', '71CQS5', 'H06VZH', 'BZA5M7'], ['RZCTXG', '6LJSMF', 'QNK9X5', 'DL3ZX8'], ['SGZYDD', 'JQPML8'], ['69GYID'], ['LFP78A', 'JUBRII', 'O6OUE5', 'GIPLBS', 'YKWOIE'], ['E2K3VL', 'BVXPK9', '4M69TO'], ['VIIOHG', '7SJQRX', 'J6XO1V', 'DRPVV8'], ['172Y07', 'YPVPDW'], ['SUT5C3'], ['6ULGIR', 'V66EHZ', 'UHSS7A', '5ZRCRT', '3OSL3D'], ['4XS0BX', 'TP0KGA', 'EOPXUS', 'JC8P6X'], ['GXTSGQ', 'R1SCQ1', 'I8XDNN'], ['04M3A3', 'HDWJGU'], ['2R2SUQ'], ['1ZNOYG', 'XCZLH4', 'VEGHVZ', 'FKI71O', 'JYMN9G'], ['5QM9B2', '9M5I3S', '26FXSY', '731V88'], ['S7G2E2', 'MKTG02', '87Q34B'], ['Z9GO9O', 'UU34Z1']]

In [7]:
# Append new codes column to data and update to new_csv

df['codes'] = code_list

df.head()

# df.to_csv(path_to_csv, index=0)

,id,name,major,email,quantity,class,money_transfered,codes
0,10422021,Trần Hải Dương,CSE2022,10422021@student.vgu.edu.vn,2,VIP,1,"[PWMFRY, A8YQJD]"
1,10422022,Nguyễn Thị Minh Châu,ECE2023,10422022@student.vgu.edu.vn,3,STANDARD,1,"[GU2AZR, YKFFRB, 3Q2AAY]"
2,10422023,Lê Văn Hùng,MEN2022,10422023@student.vgu.edu.vn,4,STANDARD,1,"[JMIUSM, FMSVEL, 0LBI0G, 1K70IU]"
3,10422024,Trần Thu Hương,BFA2021,10422024@student.vgu.edu.vn,1,VIP,1,[2DGPSM]
4,10422025,Phạm Hoàng Nam,ARC2020,10422025@student.vgu.edu.vn,2,STANDARD,1,"[YNOY8Z, GI0HL3]"

In [8]:
exploded = df[['id', 'name', 'codes']].explode('codes', ignore_index=1)

In [9]:
exploded.to_csv("./test/code_exploded.csv")