In [15]:
import csv
import numpy as np

In [5]:
from typing import Any
import pandas as pd
from ticket.codegen import generate_ticket_code

class Gen:
    def __init__(self, event_code=None) -> None:
        """
        Initialize Generator object.
        """
        if event_code == None:  # set event_code if None
            self.event_code = 'default'

        # self.df = df_input
        self.codes = []

    def gen(self, n:int=1) -> list:
        """
        Initialize and return a list of n number of code.
        """
        # Generate codes and assign code to self.codes
        self.codes = generate_ticket_code(n, seed=self.event_code)

        return self.codes

    def cut(self, n=1):
        """
        Slice n code(s) and return new list
        """
        raise NotImplementedError

In [23]:
import random, string

length = 6
ticket_num = 20
quantity = ticket_num
standard_num = 12
vip_num = 5
wand_num = 3
ticket_info = {
    'STANDARD': standard_num,
    'VIP': vip_num,
    'WAENDERLUSTE': wand_num
}

if sum(ticket_info.values()) != quantity:
    raise Exception('Quantity error!')


#class field
ticket_classes = []

for ticket_class in ticket_info.keys():
    num = ticket_info[ticket_class]
    class_list = [ticket_class] * num
    ticket_classes = ticket_classes + class_list

tickets = list()  # Create an empty list for tickets
random.seed('seed')
characters = string.ascii_uppercase + string.digits

for i in range(quantity):
    ticket_code = ''.join(random.choice(characters) for _ in range(length))
    tickets.append(ticket_code)

result = list(zip(tickets, ticket_classes))

In [25]:
#create data
header = ['code', 'class']

with open('code.csv', 'w') as f:
    writer = csv.writer(f)
    
    writer.writerow(header)

    for i in result:
        writer.writerow(i)

In [29]:
import pandas as pd

df = pd.read_csv('code.csv', header=0)
df.head()

     code     class
0  IDPWS5  STANDARD
1  CV7700  STANDARD
2  4F0CNM  STANDARD
3  CS2OFL  STANDARD
4  Y84EW1  STANDARD